version: '3.7'

services:

  node:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - '.:/app'
      - '/app/node_modules'
    # command: npm start
    tty: true
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=development