body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

@font-face {
	font-family: 'BeVietnamMedium';
	src: url('/src/fonts/BeVietnamPro-Medium.ttf');
	src: url('/src/fonts/BeVietnamPro-Medium.ttf?#iefix') format('embedded-opentype'),
	url('/src/fonts/BeVietnamPro-Medium.ttf') format('truetype');
  } 

@font-face {
	font-family: 'BeVietnamLight';
	src: url('/src/fonts/BeVietnamPro-Light.ttf');
	src: url('/src/fonts/BeVietnamPro-Light.ttf') format('embedded-opentype'),
	url('/src/fonts/BeVietnamPro-Light.ttf') format('truetype');
  } 

@font-face {
    font-family: 'BeVietnamRegular';
    src: url('src/fonts/BeVietnamPro-Regular.ttf');
    src: url('src/fonts/BeVietnamPro-Regular.ttf?#iefix') format('embedded-opentype'),
    url('src/fonts/BeVietnamPro-Regular.ttf') format('truetype');
    } 

@font-face {
      font-family: 'BeVietnamSemiBold';
      src: url('src/fonts/BeVietnamPro-SemiBold.ttf');
      src: url('src/fonts/BeVietnamPro-SemiBold.ttf?#iefix') format('embedded-opentype'),
      url('src/fonts/BeVietnamPro-SemiBold.ttf') format('truetype');
      } 
